@(message: String)
@main(message) {
<div class="content_container">
   <div class="left_nav" id="about_left_nav">
      <h2 class="services" id="about_left_nav_sevices">Services</h2>
      <ul>
      	 <li class="left_nav_link"><a id="about_left_nav_training_details" href="/training_details">Training Details<span class="left_nav_arrow"></span></a></li>
         <li class="left_nav_link"><a id="about_left_nav_health_statistics" href="/health_statistics">Health Statistics<span class="left_nav_arrow"></span></a></li>
         <li class="left_nav_link"><a id="about_left_nav_health_days" href="/health_days">Health Days & Themes<span class="left_nav_arrow"></span></a></li>
         <li class="left_nav_link"><a id="about_left_nav_reports" href="/reports">Reports by SIHFW<span class="left_nav_arrow"></span></a></li>
         <li class="left_nav_link"><a id="about_left_nav_committee" href="/committee">Reports Committee<span class="left_nav_arrow"></span></a>
      </ul>
   </div>
   <div class="right_nav" id="about_right_nav">
      <div class="page_banner" id="about_right_nav_page_banner">
         <img id="about_right_nav_page_banner_image" src="@routes.Assets.at("images/about/about-banner.jpg")" />
      </div>
      <h3 id="about_right_nav_header">State Institute of Health & Family Welfare (SIHFW) Karnataka</h3>
      
      <div class="content_wrapper" id="bd_right_nav_content">
          <div class="activities_banner" id="bd_right_nav_page_banner">
			<img id="bd_right_nav_page_banner_image" src="@routes.Assets.at("images/activities/CHART1.jpg")"/>
		</div>

        <b>Mission</b>
         <ul>
            <p>
            <li>    As an apex Institute,it facilitates the state in planning, budgeting, implementing, monitoring & evaluations of required trainings under all National Health Programmes, Human Resource Management and Logistics</li>
            </p>
            <p>  
            <li>     Development of Manuals and updating of existing Curriculums for basic trainings and in service training of Health staff</li>
            </p>
            <p>  
            <li>     Training of Trainers for faculty of training Institutions, District Training Centers and District level Programme officers including Teaching Faculty of the Medical Colleges</li>
            </p>
            <p>
            <li>         To conduct Diploma and Certificate Courses in Public Health. 
               and decentralizing the Training Activities at Districts by establishing District Training Centers
            </li>
            </p>
            <p>
            <li>        To establish a quality assurance call for monitoring & evaluation of all trainingsand to start distance learning and e-learning courses in collaboration with NIHFW</li>
            </p>
         </ul>
      </div>
      <!-- <p align="justify" style="color:#36597D"> <font face="Arial, Helvetica, sans-serif" size="2">
         <br>
         <b><a name="Minister's">MINISTER'S OFFICE PHONE NUMBER</a></b></font>&nbsp;</p>
         <table cellspacing="1" cellpadding="1" border="1" style="width: 719px; height: 124px; position: static;">
                       <tbody><tr>
                           <td style="width: 25px; height: 22px" rowspan="3" colspan="1"><font face="Arial, Helvetica, sans-serif" size="2" style="font-size: 9pt; color: black"><b>Sl.No</b></font>
                           </td>
                           <td align="left" style="width: 155px; height: 22px" rowspan="3" colspan="1"><font face="Arial, Helvetica, sans-serif" size="2" style="font-size: 9pt; color: black"><b>Name &amp; Designation </b></font>
                           </td>
                           <td align="left" style="width: 159px; height: 22px" rowspan="3" colspan="1"><font face="Arial, Helvetica, sans-serif" size="2" style="font-size: 9pt; color: black"><b>Address </b></font>
                           </td>
                           <td align="left" style="width: 145px; height: 22px" rowspan="3" colspan="1"><font face="Arial, Helvetica, sans-serif" size="2" style="font-size: 9pt; color: black"><b>Phone No/Fax</b></font>
                           </td>
                           <td align="left" style="width: 121px; height: 22px" rowspan="3" colspan="3"><font face="Arial, Helvetica, sans-serif" size="2" style="font-size: 9pt; color: black"><b>Email</b></font>
                           </td>
                       </tr>
                       <tr>
                       </tr>
                       <tr>
                       </tr>
                       <tr>
                           <td style="width: 25px; height: 106px;" rowspan="1" colspan="1"><font face="Arial, Helvetica, sans-serif" size="2" style="font-size: 9pt; color: black"><b>1</b></font>
                           </td>
                           <td align="left" style="width: 155px; height: 106px;" rowspan="1" colspan="1"><font face="Arial, Helvetica, sans-serif" size="2" style="font-size: 9pt; color: black"><b>SHRI. ARAVIND LIMBAVALI, Hon'ble Minister for Health &amp; Family Welfare </b></font></td>
                           <td align="left" style="width: 159px; height: 106px" rowspan="1" colspan="1"><font face="Arial, Helvetica, sans-serif" size="2" style="font-size: 9pt; color: black"><b>Hon'ble Minister for Health &amp; Family Welfare 
                               <br>
                               Room No.245/244, Vidhanasoudha,&nbsp; Bangalore - 1</b></font>
                           </td>
                           <td align="left" style="width: 145px; height: 106px;" rowspan="1" colspan="1"><font face="Arial, Helvetica, sans-serif" size="2" style="font-size: 9pt; color: black"><b>9449843000,<br>
                               080-22251639&nbsp;
                               (Off) 
                               <br>
                               080-28382335
                               (Res)
                               <br>
                               080-28386998 (Res)
                               </b></font>
                           </td>
                           <td align="left" style="width: 121px; height: 106px;" rowspan="1" colspan="3"><font face="Arial, Helvetica, sans-serif" size="2" style="font-size: 9pt; color: black"><b>
                               min - health@@karnataka.gov.in
         </b></font>
                           </td>
                       </tr>
                   </tbody></table>
                   
                 <p align="justify" style="color:#36597D"> <font face="Arial, Helvetica, sans-serif" size="2">
         <br>
         <b><a name="Secretarys"> SECRETARY OFFICE PHONE NUMBER</a></b></font></p>
                   <table cellspacing="1" cellpadding="1" border="1" style="width: 719px; height: 124px; position: static;">
                       <tbody><tr>
                           <td style="width: 25px; height: 22px" rowspan="3" colspan="1">
                               <font face="Arial, Helvetica, sans-serif" size="2" style="font-size: 9pt; color: black">
                                   <b>Sl.No</b></font>
                           </td>
                           <td align="left" style="width: 154px; height: 22px" rowspan="3" colspan="1">
                               <font face="Arial, Helvetica, sans-serif" size="2" style="font-size: 9pt; color: black">
                                   <b>Name &amp; Designation </b></font>
                           </td>
                           <td align="left" style="width: 162px; height: 22px" rowspan="3" colspan="1">
                               <font face="Arial, Helvetica, sans-serif" size="2" style="font-size: 9pt; color: black">
                                   <b>Address </b></font>
                           </td>
                           <td align="left" style="width: 99px; height: 22px" rowspan="3" colspan="1">
                               <font face="Arial, Helvetica, sans-serif" size="2" style="font-size: 9pt; color: black">
                                   <b>Phone No/Fax</b></font>
                           </td>
                           <td align="left" style="width: 121px; height: 22px" rowspan="3" colspan="3">
                               <font face="Arial, Helvetica, sans-serif" size="2" style="font-size: 9pt; color: black">
                                   <b>Email</b></font>
                           </td>
                       </tr>
                       <tr>
                       </tr>
                       <tr>
                       </tr>
                       <tr>
                           <td style="width: 25px;;" rowspan="1" colspan="1">
                               <font face="Arial, Helvetica, sans-serif" size="2" style="font-size: 9pt; color: black">
                                   <b>1</b></font>
                           </td>
                           <td align="left" style="width: 154px;" rowspan="1" colspan="1">
                               <font face="Arial, Helvetica, sans-serif" size="2" style="font-size: 9pt; color: black">
                                   <b>Shri. M. MADAN GOPAL,  IAS     Principal Secretary to Government Health &amp; FW Dept</b></font>
                           </td>
                           <td align="left" style="width: 162px;" rowspan="1" colspan="1">
                               <font face="Arial, Helvetica, sans-serif" size="2" style="font-size: 9pt; color: black">
                                   <b>Principal Secretary to Government Health &amp; FW Department, # 105, Ist Floor, Vikas Soudha, Bangalore-560 001 </b></font>
                           </td>
                           <td align="left" style="width: 99px; " rowspan="1" colspan="1">
                               <font face="Arial, Helvetica, sans-serif" size="2" style="font-size: 9pt; color: black">
                                   <b>, &nbsp; &nbsp; &nbsp; 080-22255324 080-22034234
         Fax:080-22353916 080-25356761(R)
         </b></font>
                           </td>
                           <td align="left" style="width: 121px; " rowspan="1" colspan="3">
                               <font face="Arial, Helvetica, sans-serif" size="2" style="font-size: 9pt; color: black">
                                   <b>Email: prs-hfw@@karnataka.gov.in </b></font>
                           </td>
                       </tr>
                       <tr>
                           <td style="width: 25px;;" rowspan="1" colspan="1">
                               <font face="Arial, Helvetica, sans-serif" size="2" style="font-size: 9pt; color: black">
                                   <b>2</b></font>
                           </td>
                           <td align="left" style="width: 154px;" rowspan="1" colspan="1">
                               <font face="Arial, Helvetica, sans-serif" size="2" style="font-size: 9pt; color: black">
                                   <b>Joint Secretary  (Health) </b></font>
                           </td>
                           <td align="left" style="width: 162px;" rowspan="1" colspan="1">
                               <font face="Arial, Helvetica, sans-serif" size="2" style="font-size: 9pt; color: black">
                                   <b>Joint Secretary to Government, Health &amp; Family Welfare Department, # 402, 4th Floor, Vikas Soudha, Bangalore-560 001 </b></font>
                           </td>
                           <td align="left" style="width: 99px; " rowspan="1" colspan="1">
                               <font face="Arial, Helvetica, sans-serif" size="2" style="font-size: 9pt; color: black">
                                   <b>22353915 22092573(D) 
         </b></font>
                           </td>
                           <td align="left" style="width: 121px; " rowspan="1" colspan="3">
                               <font face="Arial, Helvetica, sans-serif" size="2" style="font-size: 9pt; color: black">
                                   <b>ds1_hfw@@karnataka.gov.in </b></font>
                           </td>
                       </tr>
                       <tr>
                           <td style="width: 25px;;" rowspan="1" colspan="1">
                               <font face="Arial, Helvetica, sans-serif" size="2" style="font-size: 9pt; color: black">
                                   <b>3</b></font>
                           </td>
                           <td align="left" style="width: 154px;" rowspan="1" colspan="1">
                               <font face="Arial, Helvetica, sans-serif" size="2" style="font-size: 9pt; color: black">
                                   <b>Deputy Secretary </b></font>
                           </td>
                           <td align="left" style="width: 162px;" rowspan="1" colspan="1">
                               <font face="Arial, Helvetica, sans-serif" size="2" style="font-size: 9pt; color: black">
                                   <b> Deputy Secretary to Government, Health &amp; Family Welfare Department,# 101, Ist Floor, Vikas Soudha, Bangalore-560 001 </b></font>
                           </td>
                           <td align="left" style="width: 99px; " rowspan="1" colspan="1">
                               <font face="Arial, Helvetica, sans-serif" size="2" style="font-size: 9pt; color: black">
                                   <b>22263744 22092573(D)
         </b></font>
                           </td>
                           <td align="left" style="width: 121px; " rowspan="1" colspan="3">
                               <font face="Arial, Helvetica, sans-serif" size="2" style="font-size: 9pt; color: black">
                                   <b>ds2-hfw@@karnataka.gov.in </b></font>
                           </td>
                       </tr>
                   </tbody></table>-->
      </br>
   </div>
</div>
}