@(message: String)
@main(message) {
<div class="content_container">
   <div class="left_nav" id="bd_left_nav">
      <h2 class="services" id="bd_left_nav_sevices">Services</h2>
      <ul>
         <li class="left_nav_link"><a id="about_left_nav_training_details" href="/training_details">Training Details<span class="left_nav_arrow"></span></a></li>
         <li class="left_nav_link"><a id="about_left_nav_health_statistics" href="/health_statistics">Health Statistics<span class="left_nav_arrow"></span></a></li>
         <li class="left_nav_link"><a id="about_left_nav_health_days" href="/health_days">Health Days & Themes<span class="left_nav_arrow"></span></a></li>
         <li class="left_nav_link"><a id="about_left_nav_reports" href="/reports">Reports by SIHFW<span class="left_nav_arrow"></span></a></li>
         <li class="left_nav_link"><a id="about_left_nav_committee" href="/committee">Reports Committee<span class="left_nav_arrow"></span></a>
      </ul>
   </div>
   <div class="right_nav" id="bd_right_nav">
     
        <h3>Activities</h3>
      <ol>
  <li><b>ANMTC-Total 28 are working in Karnataka:</b> 19 ANMTC's established in old 19 Districts and 9 ANMTC's under NRHM</li>
  <li><b>LHVTC - 4 LHVTC are working in Regional level:</b> Bangalore, Belgaum, Gulbarga, Mangalore</li>
  <li><b>Net Working:</b> SIHFW has established formal linkage NIHFW with UNICEF, BPNI, PATH, NIPPCD, PHFI, KSAPS etc.</li>
	</ol>
            <div class="content_wrapper" id="bd_right_nav_content">
    
		<div class="activities_banner" id="bd_right_nav_page_banner">
			<img id="bd_right_nav_page_banner_image" src="@routes.Assets.at("images/activities/CHART2.jpg")"/>
		</div>
		<div class="activities_banner" id="bd_right_nav_page_banner">
			<img id="bd_right_nav_page_banner_image" src="@routes.Assets.at("images/activities/CHART3.jpg")"/>
		</div>
</div>
</div>
</div>
}