@(message: String)
@main(message) {
<div class="content_container">
   <div class="left_nav" id="bd_left_nav">
      <h2 class="services" id="bd_left_nav_sevices">Services</h2>
      <ul>
      	 <li class="left_nav_link"><a id="about_left_nav_training_details" href="/training_details">Training Details<span class="left_nav_arrow"></span></a></li>
         <li class="left_nav_link"><a id="about_left_nav_health_statistics" href="/health_statistics">Health Statistics<span class="left_nav_arrow"></span></a></li>
         <li class="left_nav_link"><a id="about_left_nav_health_days" href="/health_days">Health Days & Themes<span class="left_nav_arrow"></span></a></li>
         <li class="left_nav_link"><a id="about_left_nav_reports" href="/reports">Reports by SIHFW<span class="left_nav_arrow"></span></a></li>
         <li class="left_nav_link"><a id="about_left_nav_committee" href="/committee">Reports Committee<span class="left_nav_arrow"></span></a>
 	  </ul>
   </div>
   <div class="right_nav" id="bd_right_nav">
      <h3 id="bd_right_nav_header">Reports Committee</h3>
      <div class="img_committee_main">
         <img class="committee_members_image" id="wd_right_nav_content_first_right_image" src="@routes.Assets.at("images/hr/ARUNA.jpg")" />
         <div class="desc_main">Dr. A.R. Aruna,</br>Director</div>
      </div>
      <div class="img_committee">
         <a target="_blank" href="@routes.Assets.at("images/hr/DR RC RAMESH.jpg")"><img class="committee_members_image" src="@routes.Assets.at("images/hr/DR RC RAMESH.jpg")" alt="Klematis" width="110" height="90"></a>
         <div class="desc">Dr. H.C. Ramesh,</br>Joint Director</div>
      </div>
      <div class="img_committee">
         <a target="_blank" href="@routes.Assets.at("images/hr/DR LAKSHMINARAYAN.jpg")"><img class="committee_members_image" src="@routes.Assets.at("images/hr/DR LAKSHMINARAYAN.jpg")" alt="Klematis" width="110" height="90"></a>
         <div class="desc">Dr. H.G. Lakshminarayan, </br>Deputy Director</div>
      </div>
      <div class="img_committee">
         <a target="_blank" href="@routes.Assets.at("images/hr/SHRINAVASA.jpg")"><img class="committee_members_image" src="@routes.Assets.at("images/hr/SHRINAVASA.jpg")" alt="Klematis" width="110" height="90"></a>
         <div class="desc">Dr. A.V. Sreenivasa,</br> Deputy Director</div>
      </div>
      <div class="img_committee">
         <a target="_blank" href="@routes.Assets.at("images/hr/SHANKARAPPA.jpg")"><img class="committee_members_image" src="@routes.Assets.at("images/hr/SHANKARAPPA.jpg")" alt="Klematis" width="110" height="90"></a>
         <div class="desc">Dr. G.Shankarappa, </br>Deputy Director</div>
      </div>
      <div class="img_committee">
         <a target="_blank" href="@routes.Assets.at("images/hr/SUJATHA.jpg")"><img class="committee_members_image" src="@routes.Assets.at("images/hr/SUJATHA.jpg")" alt="Klematis" width="110" height="90"></a>
         <div class="desc">Dr. Sujatha, </br>Deputy Director</div>
      </div>
      <div class="img_committee">
         <a target="_blank" href="@routes.Assets.at("images/hr/SRINIVASAGOWDA.jpg")"><img class="committee_members_image" src="@routes.Assets.at("images/hr/SRINIVASAGOWDA.jpg")" alt="Klematis" width="110" height="90"></a>
         <div class="desc">Dr. Srinivasa Gowda. C.R. </br>Deputy Director</div>
      </div>
      <div class="img_committee">
         <a target="_blank" href="@routes.Assets.at("images/hr/CHANDRASHEKAR.jpg")"><img class="committee_members_image" src="@routes.Assets.at("images/hr/CHANDRASHEKAR.jpg")" alt="Klematis" width="110" height="90"></a>
         <div class="desc">Dr. Chandrashekar D. </br>Deputy Director</div>
      </div>
      <div class="img_committee">
         <a target="_blank" href="@routes.Assets.at("images/hr/eshwarappa.jpg")"><img class="committee_members_image" src="@routes.Assets.at("images/hr/eshwarappa.jpg")" alt="Klematis" width="110" height="90"></a>
         <div class="desc">Dr. T. Eswaraiah. </br>Deputy Director</div>
      </div>
      <div class="img_committee">
         <a target="_blank" href="@routes.Assets.at("images/hr/MYLARAPPA.jpg")"><img class="committee_members_image" src="@routes.Assets.at("images/hr/MYLARAPPA.jpg")" alt="Klematis" width="110" height="90"></a>
         <div class="desc">Dr. Mylarappa.Y.B </br>CTI-Consultant </div>
      </div>
   </div>
</div>
}