@(message: String)
@main(message) {
<div class="content_container">
   <div class="left_nav" id="contact_left_nav">
      <h2 class="services" id="contact_left_nav_sevices">Services</h2>
      <ul>
 	     <li class="left_nav_link"><a id="about_left_nav_training_details" href="/training_details">Training Details<span class="left_nav_arrow"></span></a></li>
         <li class="left_nav_link"><a id="about_left_nav_health_statistics" href="/health_statistics">Health Statistics<span class="left_nav_arrow"></span></a></li>
         <li class="left_nav_link"><a id="about_left_nav_health_days" href="/health_days">Health Days & Themes<span class="left_nav_arrow"></span></a></li>
         <li class="left_nav_link"><a id="about_left_nav_reports" href="/reports">Reports by SIHFW<span class="left_nav_arrow"></span></a></li>
         <li class="left_nav_link"><a id="about_left_nav_committee" href="/committee">Reports Committee<span class="left_nav_arrow"></span></a>
       </ul>
   </div>
   <div class="right_nav" id="contact_right_nav">
      <div class="page_banner" id="contact_right_nav_page_banner">
         <img id="contact_right_nav_page_banner_image" src="@routes.Assets.at("images/contact/contact-banner.png" )"/>
      </div>
      <div class="contact_layout" id="contact_right_nav_content">
         <p id="contact_right_nav_content_p">For any enquiries, please write to: <a href="mailto:info@@gmail.com">contactnrhm@@gmail.com</a></p>
         <div class="contact_left" id="contact_right_nav_content_left">
            <h2 id="contact_right_nav_content_left_header">Head Office</h2>
            <p class="address_location" id="contact_right_nav_content_left_location">Bangalore:</p>
            <span id="contact_right_nav_content_left_address1"><b>Director,</b></span> 
            <span id="contact_right_nav_content_left_address1"><b>SIHFW Karnataka,</b></span> 
            <span id="contact_right_nav_content_left_address2">1st Cross, Magadi Road,</span>
            <span id="contact_right_nav_content_left_address3">Bangalore - 560 023,</span>
            <span id="contact_right_nav_content_left_address4">Karnataka.</span>
            <p id="contact_right_nav_content_left_p">Phone:	080 23206126, Fax:	080-23206125, </br> Email: directorsihfw.bg@@gmail.com</p>
            </br>
            </br>
            </br>
            </br>				
         </div>
      </div>
   </div>
</div>
}