@(message: String)
@main(message) {
<div class="content_container">
   <div class="left_nav" id="bd_left_nav">
      <h2 class="services" id="bd_left_nav_sevices">Services</h2>
      <ul>
      	 <li class="left_nav_link"><a id="about_left_nav_training_details" href="/training_details">Training Details<span class="left_nav_arrow"></span></a></li>
         <li class="left_nav_link"><a id="about_left_nav_health_statistics" href="/health_statistics">Health Statistics<span class="left_nav_arrow"></span></a></li>
         <li class="left_nav_link"><a id="about_left_nav_health_days" href="/health_days">Health Days & Themes<span class="left_nav_arrow"></span></a></li>
         <li class="left_nav_link"><a id="about_left_nav_reports" href="/reports">Reports by SIHFW<span class="left_nav_arrow"></span></a></li>
         <li class="left_nav_link"><a id="about_left_nav_committee" href="/committee">Reports Committee<span class="left_nav_arrow"></span></a>
 	   </ul>
   </div>
   <div class="right_nav" id="bd_right_nav">
      <h3 id="bd_right_nav_header">Health Days & Themes</h3>
     <div class="content_layout" id="about_right_nav_conent">
         <p>You can download the following files for the further reference</p>
			<a class="challan" href="/download/health_days" target="_blank"><img src="@routes.Assets.at("images/about/health_days.png")" /></a>
			<a class="challan" href="/download/themes" target="_blank"><img src="@routes.Assets.at("images/about/themes.png")" /></a>
         </br>
         </br>
         </br>
         </br>
         </br>
         </br>
         </br>
         </br>
         </br>
         </br>
         </br>
         </br>
      </div> 
   </div>
   </div>
</div>
}
